<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src="/vendors/angular.min.js" charset="utf-8"></script>
    <script src="/vendors/angular-route.js" charset="utf-8"></script>
    <script src="/scripts/script.js" charset="utf-8"></script>
    <title>24/7 Gaming</title>
  </head>
  <body>

      <h1>24/7 Gaming</h1>

      <a href="views/routes/eve">EvE Online</a>
      <a href="views/routes/reviews">Game Reviews</a>
      <a href="views/routes/about">About 24/7 Gaming</a>
    <!-- <div ng-include="'/views/partials/nav.html'"></div> -->
    <!-- <main ng-view></main> -->


  </body>
</html>
